<div class="input-group mb-3">
    <input [(ngModel)]="todoTask" (keydown.enter)="addItem()" type="text" class="form-control"
        placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addItem()">Add</button>
</div>

<ul class="list-group">
    <li *ngFor="let item of listOfItems" class="list-group-item">
        <input class="form-check-input" type="checkbox" [(ngModel)]="item.completed" value="" id="flexCheckDefault">
        <!-- <input type="text" [(ngModel)]="item.taskName"> -->
        {{item.taskName}}
    </li>
</ul>

<!-- <pre>
    {{listOfItems | json}}
</pre> -->